@import 'tailwindcss';

:root {
  --text-50: #f2f2f2;
  --text-100: #e6e6e6;
  --text-200: #cccccc;
  --text-300: #b3b3b3;
  --text-400: #999999;
  --text-500: #808080;
  --text-600: #666666;
  --text-700: #4d4d4d;
  --text-800: #333333;
  --text-900: #1a1a1a;
  --text-950: #0d0d0d;

  --background-50: #f2f2f2;
  --background-100: #e6e6e6;
  --background-200: #cccccc;
  --background-300: #b3b3b3;
  --background-400: #999999;
  --background-500: #808080;
  --background-600: #666666;
  --background-700: #4d4d4d;
  --background-800: #333333;
  --background-900: #1a1a1a;
  --background-950: #0d0d0d;

  --primary-50: #fdf8e8;
  --primary-100: #fbf1d0;
  --primary-200: #f7e3a1;
  --primary-300: #f3d572;
  --primary-400: #efc743;
  --primary-500: #ebb914;
  --primary-600: #bc9410;
  --primary-700: #8d6f0c;
  --primary-800: #5e4a08;
  --primary-900: #2f2504;
  --primary-950: #171202;

  --secondary-50: #fef9e7;
  --secondary-100: #fdf2ce;
  --secondary-200: #fbe59d;
  --secondary-300: #f9d86c;
  --secondary-400: #f7cb3b;
  --secondary-500: #f5be0a;
  --secondary-600: #c49808;
  --secondary-700: #937206;
  --secondary-800: #624c04;
  --secondary-900: #312602;
  --secondary-950: #181301;

  --accent-50: #fdf8e7;
  --accent-100: #fbf1d0;
  --accent-200: #f8e3a0;
  --accent-300: #f4d671;
  --accent-400: #f1c841;
  --accent-500: #edba12;
  --accent-600: #be950e;
  --accent-700: #8e700b;
  --accent-800: #5f4a07;
  --accent-900: #2f2504;
  --accent-950: #181302;
}

@theme inline {
  --color-text-50: var(--text-50);
  --color-text-100: var(--text-100);
  --color-text-200: var(--text-200);
  --color-text-300: var(--text-300);
  --color-text-400: var(--text-400);
  --color-text-500: var(--text-500);
  --color-text-600: var(--text-600);
  --color-text-700: var(--text-700);
  --color-text-800: var(--text-800);
  --color-text-900: var(--text-900);
  --color-text-950: var(--text-950);

  --color-background-50: var(--background-50);
  --color-background-100: var(--background-100);
  --color-background-200: var(--background-200);
  --color-background-300: var(--background-300);
  --color-background-400: var(--background-400);
  --color-background-500: var(--background-500);
  --color-background-600: var(--background-600);
  --color-background-700: var(--background-700);
  --color-background-800: var(--background-800);
  --color-background-900: var(--background-900);
  --color-background-950: var(--background-950);

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);

  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-950: var(--secondary-950);

  --color-accent-50: var(--accent-50);
  --color-accent-100: var(--accent-100);
  --color-accent-200: var(--accent-200);
  --color-accent-300: var(--accent-300);
  --color-accent-400: var(--accent-400);
  --color-accent-500: var(--accent-500);
  --color-accent-600: var(--accent-600);
  --color-accent-700: var(--accent-700);
  --color-accent-800: var(--accent-800);
  --color-accent-900: var(--accent-900);
  --color-accent-950: var(--accent-950);
}
